<h4>Composer based in Los Angeles and Bangkok</h4>
<br>
<h4>Contact me at:</h4>
<div class="infomation">
  <address>
    <strong>Email:</strong><br>
    <a href="mailto:chupawicht@gmail.com">chupawicht(at)gmail.com (Business only)</a><br>

    <strong>facebook:</strong><br>
    <a href="http://www.facebook.com/philwcfans">www.facebook.com/philwcfans</a><br>
  </address>
<!--
  <address>
    <strong>Telephone:</strong><br>
    <a href="tel:+66-847643389">+66-847643389 (inactive while I’m in US)</a><br>
    <a href="tel:+1-208-2301034">+1-208-2301034 (active US number)</a><br>
  </address>
-->
</div>
