---
title: "Home"
description: "Music for film, game, and multimedia"
---

<div class="home">

  <section class="testimonial">
    {% include home/testimonial.html %}
  </section>

  <section class="sample-works">
    {% include home/sample-works.html %}
  </section>

  <section class="infomation">
    {% include home/information.html %}
  </section>

  <section class="free-download">
    {% include home/free-download.html %}
  </section>

  <section class="recentpost">
    {% include home/recentpost.html %}
  </section>

</div>
