---
title: "Home"
description: "An award winning film composer"
header-img: assets/img/home/header2-bg.jpg
---

<div class="home">

  <section class="thebluehour">
    {% include home/thebluehour.html %}
  </section>

  <section class="player-widget">
    {% include widgets/player.html %}
  </section>

  <section class="profile">
    {% include home/profile.html %}
  </section>

  <section class="music">
    {% include home/music.html %}
  </section>

  <section class="sample">
    {% include home/sample.html %}
  </section>

  <div class="clearfix"></div>

  <section class="testimonial">
    {% include home/testimonial.html %}
  </section>

  <section class="recent-news">
    {% include home/news.html %}
  </section>

</div>