.home
  @extend %primary-font-family

  .testimonial,
  .testimonial-text
    background-color: $site-primary-color

  .testimonial,
  .sample,
  .recentpost,
  .recent-news
    width: 100%
    padding-top: $default-padding
    padding-bottom: $default-padding

  .sample,
  .recent-news,
  .thebluehour
    background: no-repeat center center
    background-size: cover

  .profile
    @extend %reset-padding

    .content
      @extend %reset-padding

      overflow: hidden

      .button-center-container
        @extend %center-element

    .profile-menu-image
      +transition(all, .2s, ease-in-out)
      opacity: 1
      max-width: 100%
      width: 100% // oops
      height: auto

      &:hover
        cursor: pointer
        +transform(scale(1.1))
        background: #ffffff
        opacity: .75


  .sample
    background-image: url('/assets/img/home/sample-works-bg.jpg')

    .description
      padding: 0 $default-padding

    .description
      .content
        width: 60%

    #js-player-container-default,
    #js-player-container-mobile
      @extend %margin-left-right-default

  .thebluehour
    background-color: #14202c
    padding-top: 150px
    padding-bottom: 150px

    .description
      padding: 0 $default-padding

    .description
      .content
        width: 100%
        color: #ffffff

    h4,
    .description
      color: #fff
      padding: $default-padding-em


  .testimonial
    .testimonial-text
      .unslider
        padding: $default-padding 0
        color: #ffffff

        h3,
        h4
          @extend %normal-font-weight
          color: #ffffff

  .recent-news
    background-image: url('/assets/img/home/news-bg.jpg')
    text-align: left

    .section-title
      margin-bottom: $default-margin
      color: #ffffff

      h1
        color: #ffffff

    .older-post
      margin-top: $default-margin
      margin-bottom: $default-margin