@import "variables"

.home
  .testimonial, .testimonial-text, .music
    background-color: $site-primary-color

  .testimonial, .sample, .infomation, .music, .recentpost
    width: 100%

  .testimonial
    .filmfest
      @extend %reset-bootstrap-shit
      img
        @extend %full-width

    .testimonial-text
      @extend %reset-bootstrap-shit
      color: #ffffff

      .slider

  .music
    padding-top: 15px
    color: #ffffff