.post-item
  background-color: $blog-post-item-background-color
  padding: ($default-padding/2) $default-padding
  margin-bottom: 30px

  h1,h2,h3,h4,h5,h6
    margin-top: 0

  a
    color: $blog-post-item-title-text-color

    &:hover, &:focus
      text-decoration: none
      color: $blog-post-item-title-text-color-on-hover

  .post-title
    font-size: $blog-post-item-title-font-size
    margin-top: $blog-post-item-title-margin-top
    margin-bottom: $blog-post-item-title-margin-bottom

  .post-subtitle
    margin: 0
    font-weight: $blog-post-item-subtitle-font-weight
    margin-bottom: $blog-post-item-subtitle-margin-bottom

  .post-meta
    color: $gray
    margin-top: $blog-post-item-meta-margin-top
    margin-bottom: $blog-post-item-meta-margin-bottom
    font-size: $blog-post-item-meta-font-size
    // font-style: italic

    > a
      text-decoration: none
      color: $gray-dark

      &:hover, &:focus
        color: $blog-post-item-subtitle-text-color-on-hover
        text-decoration: underline

  @media only screen and (min-width: 768px)
    > a
      > .post-title
        font-size: ($blog-post-item-title-font-size * 1.2)
