<link href="{{ "/assets/img/icon/apple-touch-icon-57x57.png" | prepend: site.url }}" rel="apple-touch-icon-precomposed" sizes="57x57"/>
<link href="{{ "/assets/img/icon/apple-touch-icon-114x114.png" | prepend: site.url }}" rel="apple-touch-icon-precomposed" sizes="114x114"/>
<link href="{{ "/assets/img/icon/apple-touch-icon-72x72.png" | prepend: site.url }}" rel="apple-touch-icon-precomposed" sizes="72x72"/>
<link href="{{ "/assets/img/icon/apple-touch-icon-144x144.png" | prepend: site.url }}" rel="apple-touch-icon-precomposed" sizes="144x144"/>
<link href="{{ "/assets/img/icon/apple-touch-icon-60x60.png" | prepend: site.url }}" rel="apple-touch-icon-precomposed" sizes="60x60"/>
<link href="{{ "/assets/img/icon/apple-touch-icon-120x120.png" | prepend: site.url }}" rel="apple-touch-icon-precomposed" sizes="120x120"/>
<link href="{{ "/assets/img/icon/apple-touch-icon-76x76.png" | prepend: site.url }}" rel="apple-touch-icon-precomposed" sizes="76x76"/>
<link href="{{ "/assets/img/icon/apple-touch-icon-152x152.png" | prepend: site.url }}" rel="apple-touch-icon-precomposed" sizes="152x152"/>
<link href="{{ "/assets/img/icon/favicon-196x196.png" | prepend: site.url }}" sizes="196x196" rel="icon" type="image/png" />
<link href="{{ "/assets/img/icon/favicon-96x96.png" | prepend: site.url }}" sizes="96x96" rel="icon" type="image/png" />
<link href="{{ "/assets/img/icon/favicon-32x32.png" | prepend: site.url }}" sizes="32x32" rel="icon" type="image/png" />
<link href="{{ "/assets/img/icon/favicon-16x16.png" | prepend: site.url }}" sizes="16x16" rel="icon" type="image/png" />
<link href="{{ "/assets/img/icon/favicon-128.png" | prepend: site.url }}" sizes="128x128" rel="icon" type="image/png" />