<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center">
          <li>
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.facebook_username %}
          <li>
            <a href="https://www.facebook.com/{{ site.facebook_username }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
        </ul>
        <p class="copyright text-muted">Copyright &copy; {{ site.author.name }} {{ site.time | date: '%Y' }}</p>
      </div>
    </div>
  </div>
</footer>

<!-- jQuery -->
<script src="{{ "/assets/js/jquery.min.js " | prepend: site.baseurl }}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ "/assets/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/assets/js/clean-blog.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/unslider-min.js " | prepend: site.baseurl }}"></script>
<script>
  (function() {
    var script = document.createElement("script");

    script.type = "text/javascript";
    script.src = "//sd.toneden.io/production/v2/toneden.loader.js";

    var entry = document.getElementsByTagName("script")[0];
    entry.parentNode.insertBefore(script, entry);
  }());

  // TODO: put all javascript in the file once finished with plugins
  $(document).ready(function() {
    $('.testimonial-text #js-slider').unslider({
      autoplay: true,
      infinite: true
    });

    ToneDenReady = window.ToneDenReady || [];
    ToneDenReady.push(function() {

      ToneDen.configure({
        "soundcloudConsumerKey": "7f3673aff74a6fe5cf24893e4c68ebe7"
      });

      ToneDen.player.create({
        "dom": "#js-player-container-default",
        "skin": "light",
        "shrink": false,
        "single": true,
        "visualizerType":"waves",
        "urls": ['https://soundcloud.com/phil_wc']
      });

      ToneDen.player.create({
        "dom": "#js-player-container-mobile",
        "skin": "light",
        "shrink": false,
        "single": true,
        "visualizerType":"waves",
        "urls": ['https://soundcloud.com/phil_wc']
      });
    });
  });

</script>