<!-- jQuery -->
<script src="{{ "/assets/js/jquery.min.js " | prepend: site.baseurl }}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ "/assets/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<!-- <script src="{{ "/assets/js/clean-blog.min.js " | prepend: site.baseurl }}"></script> -->
<script src="{{ "/assets/js/unslider-min.js " | prepend: site.baseurl }}"></script>
<script>
  (function() {
    var script = document.createElement("script");

    script.type = "text/javascript";
    script.src = "//sd.toneden.io/production/v2/toneden.loader.js";

    var entry = document.getElementsByTagName("script")[0];
    entry.parentNode.insertBefore(script, entry);
  }());

  // TODO: put all javascript in the file once finished with plugins
  $(document).ready(function() {
    $('.testimonial-text #js-slider').unslider({
      autoplay: true,
      delay: 6000,
      infinite: true
    });

    ToneDenReady = window.ToneDenReady || [];
    ToneDenReady.push(function() {

      ToneDen.configure({
        "soundcloudConsumerKey": "7f3673aff74a6fe5cf24893e4c68ebe7"
      });

      ToneDen.player.create({
        "dom": "#js-player-container-default",
        "skin": "light",
        "shrink": false,
        "visualizerType":"waves",
        "urls": ['https://soundcloud.com/phil_wc/sets/reverbtheme']
      });

      ToneDen.player.create({
        "dom": "#js-player-container-mobile",
        "skin": "light",
        "shrink": false,
        "visualizerType":"waves",
        "urls": ['https://soundcloud.com/phil_wc/sets/reverbtheme']
      });
    });
  });

</script>