<!-- jQuery -->
<script src="{{ "/assets/js/jquery.min.js " | prepend: site.baseurl }}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ "/assets/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/assets/js/clean-blog.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/unslider-min.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/venobox.min.js " | prepend: site.baseurl }}"></script>
{% if page.title == "Home" %}
<script src="{{ "/assets/js/lodash.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/moment.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/tonedenplayer.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/rssfeederparser.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/unslider-init.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/spotify.js " | prepend: site.baseurl }}"></script>
{% endif %}
<script src="{{ "/assets/js/index.js " | prepend: site.baseurl }}"></script>

{% if page.title == "Page not found" %}
<script src="{{ "/assets/js/replace-on-page-not-found.js " | prepend: site.baseurl }}"></script>
{% endif %}
{% if page.kind == "post" %}
<script src="{{ "/assets/js/wrap-image-on-news-post.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/disqus.js " | prepend: site.baseurl }}"></script>
{% endif %}
