<!-- jQuery -->
<script src="{{ "/assets/js/jquery.min.js " | prepend: site.baseurl }}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ "/assets/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/assets/js/clean-blog.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/unslider-min.js " | prepend: site.baseurl }}"></script>
{% if page.title == "Home" %}
<script src="{{ "/assets/js/lodash.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/moment.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/tonedenplayer.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/rssfeederparser.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/unslider-init.js " | prepend: site.baseurl }}"></script>
{% endif %}