footer
  @extend %primary-font-family
  padding: 50px 0 65px
  background-color: $footer-primary-color

  .list-inline
    margin: 0
    padding: 0

  .copyright
    color: $footer-text-color
    text-align: center
    margin-bottom: 0
