nav.menu
  background: #1d1f20

  ul
    padding-left: 0

  li, a
    line-height: 1
    display: block
    color: white

    transition: all .1s ease-in-out

  li
    list-style-type: none
    text-align: left
    color: #1b1b1b
    border-style: solid
    border-width: 0 0 1px 0
    margin-left: 25px
    margin-right: 20px

    &:hover,
    &:active
      border-color: white

  a
    padding: 15px 0 15px 0
    text-decoration: none
    font-weight: 100
    font-size: 14px
    color: #e6e6e6

    &:hover,
    &:active
      color: white
      font-weight: 400

.js-slideout-toggle
  color: #3d3d3b
  font-size: 1.5em
  padding-right: 15px

  @media screen and (min-width: 768px)
    font-size: 2.4em

.memories-in-memory
  background: #cccccc
  color: #3d3d3b

  i
    color: #3d3d3b
    transition: all .1s ease-in-out

    &:hover
      color: #edebde

  p
    line-height: 1.2
    margin-top: 0
    margin-bottom: 15px
    color: #3d3d3b

  img
    height: auto


  .headings,
  .song-name
    font-weight: 600
    text-align: center

  .headings
    font-size: 30px
    margin: 20px 0 15px 0

  .song-name
    font-size: 26px
    margin: 30px 0 15px 0

    @media screen and (min-width: 1200px)
      margin: 15px 0



  .song-wrapper
    max-width: 420px
    margin: 0 auto

    @media screen and (min-width: 1200px)
      max-width: none
      flex: 1

  .bandcamp-iframe-wrapper
    z-index: 1
    position: relative
    margin-top: 25px

  .song-image-wrapper
    @media screen and (min-width: 1200px)
      flex: 1

  .credit-personal-wrapper
    margin: 30px 0
    line-height: 1



  .buttons
    margin: 0 auto
    margin-bottom: 30px
    max-width: 480px
    display: flex
    flex-flow: column wrap
    align-items: center

    @media screen and (min-width: 768px)
      flex-flow: row wrap
      justify-content: space-around

  .button-wrapper
    width: 180px
    padding: 5px 0

  // overriding bootstrap button styling
  .btn,
  .btn-group
    width: 100%
    border-color: #3d3d3b

  .btn
    background: transparent
    border-color: #3d3d3b

    padding: 15px 0

    transition: all .1s ease-in-out

    &:hover
      background: #edebde
      border-color: #edebde
      color: #3d3d3b

    &:focus
      color: #3d3d3b

  .btn-group
    .dropdown-menu,
    .dropdown-toggle
      color: #3d3d3d

    .dropdown-menu
      border-radius: 0
      background: #edebde
      min-width: 180px

    &.open
      transition: all .1s ease-in-out

      .dropdown-toggle
        background: #edebde
        border-color: #edebde
        box-shadow: none

  .section
    color: #3d3d3b

    display: flex
    justify-content: center
    align-items: center

    padding-top: 50px
    padding-bottom: 25px
    min-height: 75vh

    background: url('/assets/img/mim/wall-bg.jpg') #b7bcc2 no-repeat
    background-repeat: no-repeat
    background-size: cover
    background-position: center 0

    @media screen and (min-width: 768px)
      min-height: 100vh

    &.title,
    &.track,
    &.ending
      text-align: center

    &.track,
    &.ending
      .content
        width: 90vw
        margin: 0 auto

        @media screen and (min-width: 768px)
          max-width: 1200px
          margin: 0 auto

    &.title
      img
        max-width: 240px

        @media screen and (min-width: 768px)
          max-width: 420px

    &.track
      img
        max-width: 280px

        @media screen and (min-width: 768px)
          max-width: 360px

        @media screen and (min-width: 1200px)
          max-width: 480px

      .content
        @media screen and (min-width: 1200px)
          display: flex
          align-items: center

      &:nth-child(even)
        @media screen and (min-width: 1200px)
          .content
            flex-direction: row-reverse

            .song-name
              text-align: right

            .bandcamp-iframe-wrapper
              .spinner
                right: 0
                left: initial

      &:nth-child(odd)
        @media screen and (min-width: 1200px)
          .content
            .song-name
              text-align: left

            .bandcamp-iframe-wrapper
              .spinner
                left: 0
                right: initial



// taken/modified from w3school
.spinner
  position: absolute
  left: calc(50% - 17.5px)
  transform: translate(-50%, -50%)
  border: 4px solid #f3f3f3
  border-radius: 50%
  border-top: 4px solid #3498db
  width: 35px
  height: 35px
  -webkit-animation: spin 2s linear infinite
  animation: spin 2s linear infinite
  z-index: -1

@-webkit-keyframes spin
  0%
    -webkit-transform: rotate(0deg)

  100%
    -webkit-transform: rotate(360deg)


@keyframes spin
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)
