@import "variables"

.albums

  .license-details,.donation-description
    color: $site-text-color

  .album-section-title
    padding-bottom: ($default-padding / 6)
    margin-bottom: $default-margin
    border-bottom: 1px solid #000

  .album-item
    margin-bottom: $default-margin

    .album-image, .album-description
      display: inline-block

    .album-image
      float: left

    .album-description
      padding-left: $default-padding

    .album-description-mobile
      overflow: auto

      .album-image-mobile
        float: none