nav.menu
  background: #1D1F20
  li, a
    color: white

  li
    list-style-type: none

.js-slideout-toggle
  font-size: 1.5em
  padding-right: 15px

.memories-in-memory
  background: #ccc
  // slideout menu

  .section

    display: flex
    justify-content: center
    align-items: center

    height: 75vh

    background: url('/assets/img/mim/wall-bg.jpg') #b7bcc2 no-repeat
    background-repeat: no-repeat
    background-size: cover
    background-position: center 0

    @media screen and (min-width: 768px)
      height: 100vh

    // @media screen and (min-width: 481px)
    //   height: 100vh

    .content
      max-width: 1200px
      margin: 0 auto
