<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>▲&thinsp;Awards&Nominated</h2>
      <ul>
        <li><strong>Best Original Score Nomination (2015) (Thailand)</strong>
        by Bangkok Critics Assembly from the film called "The Blue Hour"</li>
        <li><strong>Best Original Score Nomination (2014) (Thailand)</strong>
        by Bangkok Critics Assembly from the film called "W"</li>
        <li><strong>Wasted Dreams - No Lies Remix Contest (2014)</strong> - A song was selected and released with Appointed Recordings</li>
        <li><strong>Remix C-Quint เจ้าชู้รู้ตัวป่ะ(Pretty Killer) - Winner Prize (2013)</strong></li>
        <li><strong>Asia Music Festival (2010) - Winner Prize </strong>(Film Scoring, Foley)</li>
      </ul>

    <h2>▲&thinsp;Film Score</h2>
      <p><strong>&thinsp; &thinsp; &thinsp; &thinsp;<span style="text-decoration: underline;">Feature Film &amp; TV Shows</span></strong></p>
      <ul>
        <li><strong>How to Win at Checkers - Every Time (2015)</strong>&thinsp;(Additional Score)&thinsp;A film by Josh Kim<br/>- The 65th Berlin International Film Festival (Panorama) 2015 (Germany)<br/> - The 31st Los Angeles Asian Pacific Film Festival 2015 (USA)</li>
        <li><strong>The Blue Hour (2015)&thinsp;</strong>A film by Anucha Boonyawatana<br/> - The 65th Berlin International Film Festival (Panorama) 2015 (Germany) <br/>- The 39th Hong Kong International Film Festival 2015 (Hong Kong)</li>
        <li><strong>Love Love You (2015)</strong> (Additional Score) A Film by Napat Jaiteangtum</li>
        <li><strong>W (2014)</strong>&thinsp;A Film by&thinsp;Chonlasit Upanigkit<br/>-&thinsp;19th BUSAN INTERNATIONAL FILM FESTIVAL</li>
        <li><strong>Love&rsquo;s Coming (2014)</strong> (Additional Score) A Film by Napat Jaiteangtum</li>
        <li><strong>MARY IS HAPPY, MARY IS HAPPY. (2013) </strong>(Additional Score) A&thinsp;Film by Nawapol&thinsp;Thamrongrattanarit&thinsp;<br/>-&thinsp;70TH VENICE INTERNATIONAL FILM FESTIVAL&thinsp;</li>
        <li><strong><strong>Mother (2012) A&thinsp;</strong>Film by Vorakorn Ruetaivanichkul<br/></strong>- The 31st Vancouver Film Festival, Canada, 2012<br/>- The 56th BFI London Film Festival, Great Britain, 2012<br/>- The 30th Torino International Film Festival, Italy, 2012<br/>- The 1st ChopShots Documentary Film Festival Southeast Asia, Indonesia, 2012</li>
        <li><strong>Mhuad O-phas and the puzzled case Season2&thinsp;TV Series</strong>&thinsp;&ldquo;หมวดโอภาส ยอดมือปราบคดีพิศวง&rdquo; (2012)&thinsp;</li>
      </ul>


      <p>&thinsp; &thinsp; &thinsp; &thinsp; <span style="text-decoration: underline;"><strong>Short Film</strong></span></p>
        <ul>
          <li><strong>Prelude to the General (2016)</strong> A film by Pimpaka Towira
          <br/>- The 66th Berlin International Film Festival (Panorama) 2016 (Germany)
          <li><strong>Afuera (2016)</strong> a film by Steven Liang </li>
          <li><strong>Free Falling (2015)&thinsp;</strong>Filmed by Namfon Udomlertlak</li>
          <li><strong>Post Card (2015)</strong> Filmed by วีรชิต ทองจิลา</li>
          <li><strong>หลงรักเลย (2013)&thinsp;</strong>Filmed by วีรชิต ทองจิลา</li>
          <li><strong>Infinite Love (2013)&thinsp;</strong>Filmed by&thinsp;Khomkrit Treewimol (YourSingapore)</li>
          <li><strong>Waiting for upload (2012) </strong>Filmed by&thinsp;Chonlasit Upanigkit&thinsp;(PlayChannel)</li>
          <li><strong>ป้าย(สุนัข)ที่หายไป (Lost Notice) (2012)</strong>&thinsp;A Film by พิชญากร แสงสุข&thinsp;(PlayChannel)</li>
          <li><strong>ผู้ตัดสิน (Judge) (2012)&thinsp;</strong>A Film by&thinsp;นัฏพล ทิมเมือง&thinsp;(PlayChannel)</li>
          <li><strong>Where is justice (2012)</strong>&thinsp;A Film by&thinsp;ปนายุ คุณวัลลี (PlayChannel)</li>
          <li><strong>Paejia (2012)&thinsp;</strong>A Film by&thinsp; Parkpoom Wongpoom&thinsp;(GTH Thailand)</li>
          <li><strong>Penalty (2012)&thinsp;</strong>A Film by&thinsp; Khomkrit Treewimol&thinsp;<strong>(</strong>GTH Thailand)</li>
          <li><strong>Human Relation (2012)&thinsp;</strong>Filmed by<span>&thinsp;</span>ทศพล ทิพย์ทินกร&thinsp;(GTH Thailand)</li>
          <li><strong>Band Next Door (2012)&thinsp;</strong>A Film by&thinsp;Nottapon Boonprakob&thinsp;(GTH Thailand)</li>
          <li><strong>วินาทีเดียวเท่านั้น (Just One Second) Miniseries (2012)&thinsp;</strong>A Film by&thinsp;Nithiwat Tharatorn (GTH Thailand)&thinsp;</li>
          <li><strong>รักในความทรงจำ (Memory of Love) (2012)&thinsp;</strong>A Film by&thinsp;Pongpun Yunchevit&thinsp;</li>
          <li><strong>&rsquo;STRINGS&rsquo; (2011)&thinsp;</strong>A Film by&thinsp;Alice van Schaik, Nicola Michelle (New Zealand)</li>
          <li><strong>When Her Light Is Extinguished (2011)&thinsp;</strong>A Film by&thinsp;Naween Noppakun&thinsp;<br/>- European Independent Film Festival 2012 (Paris, France)<br/>- Official Selection&thinsp;ReelHeART International Film Festival 2012 (Toronto, Canada)</li>
          <li><strong>Floodbook (2011)&thinsp;</strong>A Film by&thinsp;Chayanop Boonprakob (GTH Thailand)</li>
          <li><strong>Between Us (2011)&thinsp;</strong>A Film by&thinsp;Pongpun Yunchevit</li>
        </ul>


    <h2>▲&thinsp;Commercial Works</h2>
      <ul>
        <li><strong>Ambipur TVC (2014)&thinsp;</strong>(Thailand)</li>
        <li><strong>SK-II TVC (2014)&thinsp;</strong>(Thailand)</li>
        <li><strong>Samsung Galaxy Gift</strong>&thinsp;<strong>Movie Advertise</strong>&thinsp;<strong>(2013)</strong>&thinsp;(Thailand)</li>
        <li><strong>Supanahongsa Award Opening-Closing Event (2011-2012)&thinsp;</strong>- Music Composer</li>
        <li><strong>TVC Kaseam Bundit University (2012)&thinsp;</strong>- Music Composer&thinsp;</li>
        <li><strong>TVC Namkong (Beer of Laos Ad) (2012)&thinsp;</strong>- Music Composer, Arranger</li>
        <li><strong>Tourism Authority of Thailand Multimedia Games (2011)&thinsp;</strong>- smilelandgame.com - Music Composer</li>
        <li><strong>Infographic Animation Series &ldquo;Roo Su Flood&rdquo; (2011)&thinsp;</strong>- Music Composer&thinsp;</li>
        <li><strong>Jarun Priest Animation Main Title (2009)&thinsp;</strong>- Music Composer</li>
        <li>And many more.</li>
      </ul>


    <h2>▲&thinsp;Concert Music</h2>
      <ul>
        <li><strong>String Quartet &ldquo;Lost&rdquo;</strong> (2008)</li>
        <li><strong>วิถี(ชีวิต) (Wee Tee Che Vit)</strong> (2009) Electroacoustic (Saxophone &amp; Live Electronic)</li>
        <li><strong>Footpath III</strong> (2010) Piano Trio (Piano, Violin, Cello)</li>
        <li><strong>Footpath II</strong> (2011) Duet (Vibraphone, Flute)</li>
        <li><strong>Metropolis Garden Scene</strong> (2012) for Orchestra</li>
      </ul>

      <hr>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="information-resources text-center">
      <h3>Download</h3>
      <a class="btn btn-default visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block" href="http://goo.gl/yOrHBz"> &ndash; Resume &ndash; </a>
      <br class="hidden-lg hidden-md hidden-sm visible-xs-block">
      <a class="btn btn-default visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block" href="http://goo.gl/15B9CU"> &ndash; Curriculum vitae &ndash; </a>
      <br>
      <br>
    </div>
  </div>
</div>

<hr>

    <!--

    <h2>▲&thinsp;Others</h2>
      <ul>
        <li>Mini workshop PD-Extended program at Minimal Gallery, Chiangmai 19/7/11</li>
        <li>&ldquo;Ante Meridiem"&thinsp;Album Review, Pleangthaimag issue:2</li>
        <li>Get a Scholarship for FilmSoundHamburg 2012, Germany.</li>
      </ul>
    -->
  </div>
</div>