<div class="row">
  <div class="overview">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
      <div class="fa fa-film fa-4x"></div>
      <h2>Original Score</h2>
      <p>Original soundtrack for visual media, commercials and games.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
      <div class="fa fa-desktop fa-4x"></div>
      <h2>Mock Up Score</h2>
      <p>You can send your MIDI file, Sibelius file, or PDF score. Pricing will vary up to how complex of score.</p>
      <a class="btn btn-default venoboxvid vbox-item" data-type="youtube" data-gall="gall-video" data-autoplay="true" href="https://youtu.be/0HTQRRqO49g">Example
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
      <div class="fa fa-user-plus fa-4x"></div>
      <h2>Composer's Assistance</h2>
      <!-- <h6>by <a class="msm-link" href="http://www.motionsquaremusic.com/">Motion Square Music</a></h6> -->
      <p>Midi Orchestration, Score Preparation, Midi Mockup, Copyist, Proof Read</p>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="equipment-instrument">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <h2>Gears:</h2>
        <ul>
          <li>ASUS N550JK: 3.0 i7 Hashwell, 16Gb ram</li>
          <li>Macbookpro Mid 2009: Core 2 Duo, 8&nbsp;GB RAM</li>
          <li>Novation X-Station</li>
          <li>M-Audio BX5a</li>
          <li>Beyerdynamic DT770 Pro</li>
        </ul>

    <h2>Software:</h2>
      <ul>
        <li>Cubase 8 Pro</li>
        <li>Sibelius 7</li>
        <li>Max/MSP 6</li>
      </ul>

    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <h2>Sample Libraries:</h2>
      <ul>
        <li>Native Instruments: Komplete 9 U</li>
        <li>Miroslav Philharmonik</li>
        <li>8dio: Adagietto Strings</li>
        <li>LA Scoring Strings</li>
        <li>Output: REV</li>
        <li>Cinesamples: Cinebrass Core+Pro, Cinewinds Core, Cineperc Core+Pro</li>
        <li>Wavesfactory: Guzheng, Ukulele Strum, Drum Circle, Little Harmonium, Strum E-Guitar</li>
        <li>Soundrion: Olympus Elements Player</li>
        <li>U-he Zebra</li>
        <li>Spitfire: Uist, Sable</li>
        <li>And many more a sound samples.</li>
      </ul>

    </div>
  </div>
</div>