// Button Styles

.btn {
  @include sans-serif;

  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}

.btn-default {
  &:hover, &:focus {
    background-color: $brand-primary;
    border: 1px solid $brand-primary;
    color: white;
  }
}