body, h1, h2, h3, h4, h5, h6, .intro-header .site-heading .subheading, .home-header .site-heading .subheading, .post-header .site-heading .subheading, .intro-header .post-heading .subheading, .home-header .post-heading .subheading, .post-header .post-heading .subheading, .intro-header .page-heading .subheading, .home-header .page-heading .subheading, .post-header .page-heading .subheading, footer {
  font-family: "Montserrat", sans-serif; }

.pager li > span, .btn, .navbar-custom {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.intro-header .post-heading .meta, .home-header .post-heading .meta, .post-header .post-heading .meta {
  font-family: "Lora", "Times New Roman", serif; }

.home .testimonial .testimonial-text .unslider h3, .home .testimonial .testimonial-text .unslider h4 {
  font-weight: lighter; }

.post-item .post-meta .date, .post-item .post-meta .author {
  font-weight: normal; }

.home .profile, .home .profile .content {
  padding: 0; }

footer .list-inline, .home .testimonial .testimonial-text {
  padding: 0;
  margin: 0; }

.home .sample #js-player-container-default, .home .sample #js-player-container-mobile {
  margin-left: 15px;
  margin-right: 15px; }

.about, .albums, .contact, .news, .services, .works {
  padding-top: 60px;
  padding-bottom: 60px; }

.home .profile .content .button-center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

body {
  font-size: 14px; }

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white; }

::-moz-selection {
  color: white;
  text-shadow: none;
  background: #0085A1; }

::selection {
  color: white;
  text-shadow: none;
  background: #0085A1; }

img::selection {
  color: white;
  background: transparent; }

img::-moz-selection {
  color: white;
  background: transparent; }

body {
  webkit-tap-highlight-color: #0085A1; }

blockquote {
  font-style: italic; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

body {
  color: #3384a0; }

a {
  color: #3384a0; }
  a:hover, a:focus {
    color: #225567; }

p {
  color: #000;
  line-height: 1.5;
  margin: 30px 0; }
  p a {
    text-decoration: underline; }

blockquote {
  color: gray; }

.pager {
  margin: 20px 0 0; }
  .pager li > a,
  .pager li > a:hover,
  .pager li > a:focus {
    color: white;
    background-color: #0085A1;
    border: 1px solid #0085A1; }
  .pager li > span {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 10px 5px;
    background-color: white;
    border-radius: 0; }
    @media only screen and (min-width: 768px) {
      .pager li > span {
        font-size: 14px;
        padding: 15px 25px; } }
  .pager .disabled > a,
  .pager .disabled > a:hover,
  .pager .disabled > a:focus,
  .pager .disabled > span {
    color: gray;
    background-color: #404040;
    cursor: not-allowed; }

.post-item {
  border-bottom: 1px solid #fff;
  padding: 15px 0;
  margin-bottom: 15px; }
  .post-item h1, .post-item h2, .post-item h3, .post-item h4, .post-item h5, .post-item h6 {
    margin-top: 0;
    font-size: 24px; }
  .post-item a {
    color: white; }
    .post-item a:hover, .post-item a:focus {
      text-decoration: none;
      color: gray; }
  .post-item .post-title {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px; }
  .post-item .post-subtitle {
    margin: 0;
    font-weight: 300;
    margin-bottom: 10px; }
  .post-item .post-meta {
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px; }
    .post-item .post-meta > a {
      text-decoration: none;
      color: white; }
      .post-item .post-meta > a:hover, .post-item .post-meta > a:focus {
        color: #225567;
        text-decoration: underline; }
  @media only screen and (min-width: 768px) {
    .post-item > a > .post-title {
      font-size: 24px; } }

.section-heading {
  font-size: 14px;
  margin-top: 60px;
  font-weight: 700; }

.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; }

.btn {
  padding: 15px 25px;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0; }

.btn-lg {
  font-size: 16px;
  padding: 25px 35px; }

.btn-default:hover, .btn-default:focus {
  background-color: #0085A1;
  border: 1px solid #0085A1;
  color: white; }

.button-solid {
  min-width: 200px;
  text-align: center;
  border: 4px solid #fff;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  padding: 1em;
  margin-bottom: 10px;
  display: inline-block;
  text-decoration: none; }

.button-solid:hover, .button-solid:focus {
  color: #cdcdcd;
  border-color: #cdcdcd;
  text-decoration: none; }

.button-solid-black {
  min-width: 200px;
  text-align: center;
  border: 4px solid #000;
  font-size: 20px;
  font-weight: 700;
  color: #000;
  padding: 1em;
  margin-bottom: 10px;
  display: inline-block;
  text-decoration: none; }

.button-solid-black:hover, .button-solid-black:focus {
  color: #4e4e4e;
  border-color: #4e4e4e;
  text-decoration: none; }

.intro-header, .home-header, .post-header {
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: gray;
  background-attachment: scroll; }
  .intro-header .site-heading, .home-header .site-heading, .post-header .site-heading, .intro-header .post-heading, .home-header .post-heading, .post-header .post-heading, .intro-header .page-heading, .home-header .page-heading, .post-header .page-heading {
    padding-top: 180px;
    padding-right: 0;
    padding-bottom: 200px;
    color: #ffffff;
    text-align: center; }
    .intro-header .site-heading img, .home-header .site-heading img, .post-header .site-heading img, .intro-header .post-heading img, .home-header .post-heading img, .post-header .post-heading img, .intro-header .page-heading img, .home-header .page-heading img, .post-header .page-heading img {
      width: 11%;
      height: auto; }
    .intro-header .site-heading h1, .home-header .site-heading h1, .post-header .site-heading h1, .intro-header .post-heading h1, .home-header .post-heading h1, .post-header .post-heading h1, .intro-header .page-heading h1, .home-header .page-heading h1, .post-header .page-heading h1 {
      font-size: 2.75rem;
      margin-top: 0; }
    .intro-header .site-heading .subheading, .home-header .site-heading .subheading, .post-header .site-heading .subheading, .intro-header .post-heading .subheading, .home-header .post-heading .subheading, .post-header .post-heading .subheading, .intro-header .page-heading .subheading, .home-header .page-heading .subheading, .post-header .page-heading .subheading {
      color: #ffffff;
      font-size: 24px;
      font-weight: 300;
      line-height: 1.1;
      margin: 10px 0 0; }
    @media only screen and (min-width: 768px) {
      .intro-header .site-heading h1, .home-header .site-heading h1, .post-header .site-heading h1, .intro-header .post-heading h1, .home-header .post-heading h1, .post-header .post-heading h1, .intro-header .page-heading h1, .home-header .page-heading h1, .post-header .page-heading h1 {
        font-size: 48px; } }
  .intro-header .post-heading .subheading, .home-header .post-heading .subheading, .post-header .post-heading .subheading {
    font-weight: 600;
    margin: 10px 0 30px; }
  .intro-header .post-heading .meta, .home-header .post-heading .meta, .post-header .post-heading .meta {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.1;
    font-style: italic; }
    .intro-header .post-heading .meta a, .home-header .post-heading .meta a, .post-header .post-heading .meta a {
      color: #ffffff; }
    .intro-header .post-heading .meta .subheading, .home-header .post-heading .meta .subheading, .post-header .post-heading .meta .subheading {
      font-size: 30px; }

.home-header {
  background-image: url("/assets/img/home/header-bg.jpg");
  min-height: 650px; }

.post-header {
  background-image: url("/assets/img/header/news-post-default.jpg"); }

footer {
  padding: 50px 0 65px;
  background-color: #212121; }
  footer .social a {
    color: #ffffff; }
    footer .social a:hover, footer .social a:focus {
      color: #3483a0; }
  footer .copyright {
    color: #ffffff;
    text-align: center;
    margin-bottom: 0; }

.navbar-custom {
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3; }
  .navbar-custom .navbar-brand {
    font-weight: 800; }
  .navbar-custom .nav li a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px; }
  @media only screen and (min-width: 768px) {
    .navbar-custom {
      background: transparent;
      border-bottom: 1px solid transparent; }
      .navbar-custom .navbar-brand {
        color: #ffffff;
        padding: 20px; }
        .navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus {
          color: fade(white, 80%); }
      .navbar-custom .nav li a {
        color: #ffffff;
        padding: 20px; }
        .navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
          color: fade(white, 80%); } }
  @media only screen and (min-width: 1170px) {
    .navbar-custom {
      -webkit-transition: background-color 0.3s "ease-in-out";
      -moz-transition: background-color 0.3s "ease-in-out";
      transition: background-color 0.3s "ease-in-out";
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
      .navbar-custom.is-fixed {
        position: fixed;
        top: -61px;
        background-color: white;
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s; }
        .navbar-custom.is-fixed .navbar-brand {
          color: #404040; }
          .navbar-custom.is-fixed .navbar-brand:hover, .navbar-custom.is-fixed .navbar-brand:focus {
            color: #0085A1; }
        .navbar-custom.is-fixed .nav li a {
          color: #404040; }
          .navbar-custom.is-fixed .nav li a:hover, .navbar-custom.is-fixed .nav li a:focus {
            color: #0085A1; }
      .navbar-custom.is-visible {
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0); } }

.about .introduction .description {
  padding-left: 30px; }

.albums .album-section-title {
  padding-bottom: 5px;
  margin-bottom: 30px;
  border-bottom: 1px solid #000; }
.albums .album-item {
  margin-bottom: 30px; }
  .albums .album-item .album-image, .albums .album-item .album-description {
    display: inline-block; }
  .albums .album-item .album-image {
    float: left; }
  .albums .album-item .album-description {
    padding-left: 30px; }
  .albums .album-item .album-description-mobile {
    float: left; }

.contact .floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eee; }
  .contact .floating-label-form-group input, .contact .floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: none;
    border-radius: 0;
    font-size: 1.5em;
    background: none;
    box-shadow: none !important;
    resize: none; }
  .contact .floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: 0.85em;
    line-height: 1.76471em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top 0.3s ease, opacity 0.3s ease;
    -moz-transition: top 0.3s ease, opacity 0.3s ease;
    -ms-transition: top 0.3s ease, opacity 0.3s ease;
    transition: top 0.3s ease, opacity 0.3s ease; }
  .contact .floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee; }
.contact .floating-label-form-group-with-value label {
  top: 0;
  opacity: 1; }
.contact .floating-label-form-group-with-focus label {
  color: #0085A1; }
.contact form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eee; }

.home .testimonial, .home .testimonial-text, .home .music {
  background-color: #3384a0; }
.home .testimonial, .home .sample, .home .music, .home .recentpost, .home .news {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px; }
.home .sample, .home .news {
  background: no-repeat center center;
  background-size: cover; }
.home .profile .content {
  overflow: hidden; }
.home .profile .profile-menu-image {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1; }
  .home .profile .profile-menu-image:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    background: #ffffff;
    opacity: 0.75; }
.home .sample {
  background-image: url("/assets/img/home/sample-works-bg.jpg"); }
  .home .sample .description {
    padding: 0 30px; }
  .home .sample .description .content {
    width: 60%; }
.home .music {
  padding: 60px 0;
  color: #fff; }
  .home .music h4, .home .music .description {
    padding: 1em; }
.home .testimonial .testimonial-text .unslider {
  padding: 30px;
  color: #fff; }
.home .news {
  background-image: url("/assets/img/home/blog-section.jpg"); }
  .home .news .section-title {
    margin-bottom: 30px;
    color: white; }
  .home .news .older-post {
    margin-top: 30px;
    margin-bottom: 30px; }

.services .overview .msm-link {
  color: #00b3fe; }
  .services .overview .msm-link:hover, .services .overview .msm-link:focus {
    color: #35d9f9; }
.services .equipment-instrument {
  color: #000; }

.works {
  color: #000; }
