<div class="text-center">
    <img height="334" src=
    "https://lh5.googleusercontent.com/oW_6XRrTYnqS2ugsg7U6vZjCs0O4Owhf9qC9cAI1FrU=w500-h334-no"
    width="500">
    <h5>Phil_wc or Chapavich Temnitikul is a Thai&nbsp;<span style=
    "line-height: 1.4;">film score &amp; multimedia music
    composer</span><span style="line-height: 1.4;"></span><span style=
    "line-height: 1.4;">&nbsp;</span><span style="line-height: 1.4;">and
    experimental artist</span><span style="line-height: 1.4;">.</span></h5>
    <div class="divider"></div>
</div>
<p>Mainly, Phil composes music for films, games, TV advertise and stage
show. Moreover, He is a multi-genres composer who makes music in many
genres such as&nbsp;<span style="line-height: 1.4;">Electronic, EDM,
Trance, Electro House,&nbsp;</span><span style=
"line-height: 1.4;">Experimental, Noise, and Ambient.</span></p>
<p>Resume: <a href="http://goo.gl/yOrHBz">http://goo.gl/yOrHBz</a></p>
<p>CV: <a href="http://goo.gl/15B9CU">http://goo.gl/15B9CU</a></p>
<blockquote>
    <p>Contact me at:&nbsp;<br>
    <a href=
    "http://www.facebook.com/philwcfans">www.facebook.com/philwcfans</a></p>
    <p>or<br>
    chupawicht@gmail.com (Business&nbsp;only)&nbsp;</p>
    <p>Tel: +66&nbsp;847643389 (inactive now I&rsquo;m in US)</p>
    <p>&nbsp; &nbsp; &nbsp; &nbsp;+1&nbsp;208&nbsp;2301034 (active US
    number)</p>
    <p>Skype: phil_wc</p>
</blockquote>
<div class="text-center"><img src=
"https://40.media.tumblr.com/c92be29787c95adaf60eac16f715adb4/tumblr_inline_npu1uzWIDd1qb947z_500.jpg"></div>
<h3><strong><span style=
"text-decoration: underline;">Biography</span></strong></h3>
<p class="p1">&nbsp; &nbsp; &nbsp;Chapavich Temnitikul or Phil was born in
1991, in Bangkok, Thailand, he began studying piano at the age of 6. Phil
was interested in music composition. Eventually, he took class and
graduated in music composition from Rangsit University. Phil started
composing for film when he was 19. While he was studying, he has done great
deals of films and media in Thailand. Some of his works also were shown in
many worldwide film festivals. In 2010, he got an award in film scoring
competition that persuaded him to be a film composer. Moreover, he got a
scolarship to do a film scoring workshop at FilmSoundHamburg, Germany in
2012 with Jan A. P. Kaczmarek.</p>
<p class="p1">&nbsp; &nbsp; &nbsp;Not only film music, but Phil is also
working on experimental music on his own. He does live performance and
produce ambient and experimental music. He has composed and listened to
music in various styles such as Electronic Dance Music, experimental,
progressive, and avant-garde music. Because of wide-range of interested, he
can work for both commercial and art. Currently, Phil is being a full time
student at University of California, Los Angeles Extension in film scoring
in 2014.</p>
<h3><strong><span style=
"text-decoration: underline;">ประวัติย่อ</span></strong></h3>
<p class="p1">&nbsp; &nbsp;
&nbsp;สำเร็จการศึกษาปริญญาตรีด้านการประพันธ์เพลงจากมหาวิทยาลัยรังสิต
เคยได้รับทุนการศึกษาจากเยอรมันเพื่อไปเข้าร่วม workshop
กับนักแต่งเพลงมีชื่อเสียงด้านดนตรีประกอบภาพยนต์ที่ Hamburg, Germany ในงาน
<strong>FilmSoundHamburg2012</strong> รางวัลที่เคยได้รับเช่น <strong>Asia
Music Festival (2010), Remix C-Quint เจ้าชู้รู้ตัวป่ะ(Pretty Killer)
(2013)</strong> ของแกรมมี่, และล่าสุดงาน Remix
อีกชิ้นได้ไปจำหน่ายกับค่ายเพลงของอังกฤษ
ชัพวิชญ์ได้ผ่านงานมามากมายเช่นภาพยนต์ หนังสั้น หนังอิสระ เกมส์ โฆษณา
ให้กับบริษัทอาทิ Samsung, GTH, ททท., Play Channel
ได้ผลิตเพลงในหนังที่ได้ฉายเทศการหนังเช่น <strong>The 56th BFI Lonfon Film
Festival, The 30th Torino International Film
Festival,&nbsp;</strong><strong>Berlinale International Film
Festival</strong><span style="line-height: 1.4;">.
นอกจากนี้ยังมีผลงานส่วนตัวในชื่อศิลปิน</span> <strong style=
"line-height: 1.4;">&ldquo;phil_wc&rdquo;</strong> <span style=
"line-height: 1.4;">เพื่อผลิตดนตรี Electronic, Experimental, Ambient.
ปัจจุบันเป็นนักแต่งเพลงอิสระและกำลังศึกษาต่อ Film Scoring ที่ UCLA
อเมริกา</span></p>
<p><iframe frameborder="0" height="400" scrolling="no" src=
"http://www.flickr.com/slideShow/index.gne?group_id=&amp;user_id=105283676@N05&amp;set_id=&amp;tags=Cars,Lotus,Exige"
width="100%"></iframe><br>
<small>Created with <a href="http://www.admarket.se" title=
"Admarket.se">Admarket&rsquo;s</a> <a href="http://flickrslidr.com" title=
"flickrSLiDR">flickrSLiDR</a>.</small></p>