<div class="row">
  <div class="introduction col-lg-6">
    <img class="image img-responsive center-block" height="auto" width="500" src="/assets/img/about/me.jpg">
  </div>
  <div class="description col-lg-6">
    <h4>Phil or Chapavich Temnitikul is an award winning Thai film score &amp; multimedia music composer and experimental artist (aka. Phil_wc)</h4>

    <p>Mainly, Phil composes music for films, games, TV and stage show. Moreover, He is a multi-genres composer who makes music in many genres such as Electronic, EDM, Trance, Electro House, Experimental, Noise, and Ambient.</p>

  </div>
</div>

<hr>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="information-resources text-center">
      <a class="btn btn-default visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block" href="http://goo.gl/yOrHBz"> &ndash; Resume &ndash; </a>
      <br class="hidden-lg hidden-md hidden-sm visible-xs-block">
      <a class="btn btn-default visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block" href="http://goo.gl/15B9CU"> &ndash; Curriculum vitae &ndash; </a>
      <br>
      <br>
    </div>
  </div>
</div>
<hr>

<h3 class="text-center">LISTEN</h3> <br>
<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/12291411&amp;color=00aabb&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

<hr>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <!--
    <a class="btn btn-default venobox vbox-item center-block" data-type="youtube" data-autoplay="true" href="https://youtu.be/D1vqmzJu0ZI">
    <img class="image img-responsive center-block" height="auto" width="100%" src="/assets/img/about/conduct2.jpg">
    Watch Live Recording Video</a>
    -->
    <iframe src="https://player.vimeo.com/video/142772000?byline=0&portrait=0" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <br>
    <div class="biography">
      <h3>Biography</h3>
      <p>Chapavich Temnitikul or Phil began studying piano at the age of 6. Phil was interested in music composition. He graduated in music composition from <strong>Rangsit University</strong>, Thailand and Film Scoring from <strong>UCLA extension</strong>, USA. Phil started composing for film when he was 19. He has done great deals of films and media in Thailand and Los Angeles. His works were shown in many film festivals around the world such as <strong>Berlinale International Film Festival, BFI London Film Festival, and Los Angeles Film Festival.</strong> He got 2 awards in <strong>Best Original Score by Starpics Thai Film Awards 13th and Bangkok Critics Assembly 26th(2016).</strong> Moreover, he got a scholarship to do a film scoring and sound design workshop at <strong>FilmSoundHamburg</strong>, Germany in 2012 with Jan A. P. Kaczmarek and James Mather.

        <br/><br/>

        Not only film music, but Phil is also working on experimental music on his own (aka. <strong>phil_wc</strong>.) He does live performance and produce ambient and experimental music. He has composed and listened to music in various styles such as Electronic Dance Music, experimental, progressive, and experimental music. Because of wide-range of interests, he work for both commercial and arts.
      </p>
    </div>

<hr>

    <div class="biography-th">
      <h3>ประวัติย่อ</h3>

      <p>สำเร็จการศึกษาปริญญาตรีด้านการประพันธ์เพลงจากมหาวิทยาลัยรังสิต และ Film Scoring จาก UCLA สหรัฐอเมริกา เคยได้รับทุนการศึกษาจากเยอรมันเพื่อไปเข้าร่วม workshop กับนักแต่งเพลงมีชื่อเสียงด้านดนตรีประกอบภาพยนต์ที่ Hamburg, Germany ในงาน <strong>FilmSoundHamburg2012</strong> รางวัลที่เคยได้รับเช่น <strong> Asia Music Festival (2010), Remix C-Quint เจ้าชู้รู้ตัวป่ะ(Pretty Killer) (2013)</strong> ของแกรมมี่, งาน Remix อีกชิ้นได้ไปจำหน่ายกับค่ายเพลงของอังกฤษ, <strong>ดนตรีประกอบยอดเยี่ยมจากชมรมวิจารณ์บันเทิงและ Starpics Thai Film Award.</strong> ชัพวิชญ์ได้ผ่านงานมามากมายเช่นภาพยนต์ หนังสั้น หนังอิสระ เกมส์ โฆษณา ให้กับบริษัทอาทิ Samsung, GTH, ททท., Play Channel ได้ผลิตเพลงในหนังที่ได้ฉายเทศการหนังเช่น <strong>BFI London Film Festival, Torino International Film Festival, Berlinale International Film Festival</strong>. นอกจากนี้ยังมีผลงานส่วนตัวในชื่อศิลปิน<strong>&ldquo;phil_wc&rdquo;</strong> เพื่อผลิตดนตรี Electronic, Experimental, Ambient.
        <br>
        </p>
      </div>

      <iframe frameborder="0" height="400" scrolling="no" src="https://www.flickr.com/slideShow/index.gne?group_id=&amp;user_id=105283676@N05&amp;set_id=&amp;tags=Cars,Lotus,Exige"width="100%"></iframe></div>
    </div>