// =============================
// fonts
// =============================


%primary-font-family
  font-family: 'Montserrat', sans-serif

%secondary-font-family
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif

%serif-font-family
  font-family: 'Lora', 'Times New Roman', serif




// =============================
// reset
// =============================

%reset-padding
  padding: 0 !important