// Mixins
=transition($property: all, $delay: 0.5s)
  -webkit-transition: $property $delay
  -moz-transition: $property $delay
  transition: $property $delay

=transform($property)
  -webkit-transform: $property
  -moz-transform: $property
  -ms-transform: $property
  -o-transform: $property
  transform: $property

=background-size($size: cover)
  -webkit-background-size: $size
  -moz-background-size: $size
  -o-background-size: $size
  background-size: $size