<footer class="section ending" id="credits">
  <div class="content">
    <h1>{{memories-in-memory.credit.thank_you}}</h1>
    <div class="credit-personal-wrapper">
      <h4>{{memories-in-memory.credit.song_with_vocal}}</h4>
      <small>{{memories-in-memory.credit.singer}}</small>
    </div>
    <div class="credit-personal-wrapper">
      <h4>{{memories-in-memory.credit.bass}}</h4>
      <small>{{memories-in-memory.credit.bass_player_name}}</small>
    </div>
    <div class="credit-personal-wrapper">
      <h4>{{memories-in-memory.credit.string}}</h4>
      {% for string_player in memories-in-memory.credit.string_players %}
        <small>{{string_player.name}}</small><br/>
      {% endfor %}
    </div>
    <div class="credit-personal-wrapper">
      <h4>{{memories-in-memory.credit.recording_engineer}}</h4>
      <small>{{memories-in-memory.credit.recording_engineer_name}}</small>
    </div>
    <div class="credit-personal-wrapper">
      <h4>{{memories-in-memory.credit.photographer}}</h4>
      <small>{{memories-in-memory.credit.photographer_name}}</small>
    </div>
    <div class="credit-personal-wrapper">
      <h4>{{memories-in-memory.credit.typography}}</h4>
      <small>{{memories-in-memory.credit.typography_name}}</small>
    </div>
    <div class="credit-personal-wrapper">
      <h4>{{memories-in-memory.credit.thanks_support}}</h4>
    </div>
    <div class="credit-personal-wrapper">
      <h4>{{memories-in-memory.credit.support}}</h4>
    </div>
    <div class="buttons">
      <div class="button-wrapper">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            BUY&nbsp;&nbsp;<span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="https://play.spotify.com/album/4X7eZp92R3KSpi4fejyPUS">Spotify</a></li>
            <li><a href="http://www.deezer.com/album/12475868">Deezer</a></li>
            <li><a href="https://www.fungjai.com/artist/ChapavichTemnitikul">Fungjai</a></li>
          </ul>
        </div>
      </div>
      <div class="button-wrapper">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            LISTEN&nbsp;&nbsp;<span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="https://play.spotify.com/album/4X7eZp92R3KSpi4fejyPUS">Spotify</a></li>
            <li><a href="http://www.deezer.com/album/12475868">Deezer</a></li>
            <li><a href="https://www.fungjai.com/artist/ChapavichTemnitikul">Fungjai</a></li>
          </ul>
        </div>
      </div>
      <div class="button-wrapper">
        <a class="btn btn-default" href="{{site.url}}">Main Site</a>
      </div>
      <div class="button-wrapper">
        <a class="btn btn-default" href="#title">Back to top</a>
      </div>
    </div>
  </div>
</footer>