<header class="section title" id="title">
  <div class="content">
    <img
      class="center-block img-responsive"
      src="/assets/img/mim/{{ memories-in-memory.title.image }}"
      alt="{{ memories-in-memory.title.album_name }}" />
    <h1 class="headings text-center">{{ memories-in-memory.title.album_name }}</h1>

    <p class="font-lato">{{ memories-in-memory.title.artist }}</p>
    <p class="font-lato text-italic text-weight-normal">{{ memories-in-memory.title.catch_phrase }}</p>

    <div class="buttons">
      <div class="button-wrapper">
        <a class="btn btn-default" href="{{site.url}}">Main Site</a>
      </div>
      <div class="button-wrapper">
        <a class="btn btn-default" href="#all-these-broken-pieces">Listen Now&thinsp;&thinsp;<i class="fa fa-angle-down" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</header>