// Button Styles

.btn
  @extend %secondary-font-family

  padding: ($button-padding-top-bottom + 5px) $button-padding-right-left
  font-size: $button-font-size
  font-weight: $button-font-weight
  letter-spacing: $button-letter-spacing
  text-transform: uppercase
  border: 2px solid rgba(0, 0, 0, 0.1)
  border-radius: 0

.btn-lg
  font-size: $button-lg-font-size
  padding: $button-lg-padding-top-bottom $button-lg-padding-right-left

.btn-default
  &:hover,
  &:focus
    background-color: $site-brand-color
    border: 2px solid $site-brand-color
    color: white

a.button-solid
  @extend %primary-font-family

  min-width: 200px
  text-align: center
  border: 4px solid #fff
  font-size: 20px
  font-weight: 700
  color: #fff
  padding: 1em
  margin-bottom: ($default-margin / 3)
  display: inline-block
  text-decoration: none


a.button-solid:hover,
a.button-solid:focus
  color: $button-on-hover
  border-color: $button-on-hover
  text-decoration: none

a.button-solid-black
  @extend %primary-font-family

  min-width: 200px
  text-align: center
  border: 4px solid $site-text-color
  font-size: 20px
  font-weight: 700
  color: $site-text-color
  padding: 1em
  margin-bottom: ($default-margin / 3)
  display: inline-block
  text-decoration: none


a.button-solid-black:hover,
a.button-solid-black:focus
  color: darken($button-on-hover,50%)
  border-color: darken($button-on-hover,50%)
  text-decoration: none
