<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="creative-commons">
      <div class="license-details">
        <p class="text-justify">For the free album you can do under this creative commons license: <br/>
          <img src="/assets/img/albums/cc.png" alt="Creative Commons"> <br/>
          You can copy, distribute, advertise and play this album as long as you:
          <ul>
            <li>Give credit to the artist</li>
            <li>Don’t use this album for commercial purposes</li>
            <li>Distribute all derivative works under the same license</li>
          </ul>
        </p>
      </div>
    </div>


    <hr>


    <div class="solo-albums">
      <h2 class="album-section-title">Solo Albums</h2>

      <div class="album-item">
        <img class="album-image" src="/assets/img/albums/solo-ss3.jpg" alt="Science Series II: Space Explorer (2013)"/>
        <div class="album-description-mobile">
          <h4 class="hidden-lg hidden-md visible-xs-block">Science Series III : Landscape (2015)</h4>
          <a class="button-solid-black" href="https://phil-wc.bandcamp.com/album/science-series-iii-landscape">BUY</a>
        </div>

        <div class="album-description hidden-xs">
          <h4>Science Series III : Landscape (2015)</h4>
          <a class="button-solid-black" href="https://phil-wc.bandcamp.com/album/science-series-iii-landscape">BUY</a>
        </div>
        <div class="clearfix"></div>

      </div>

      <div class="album-item">
        <img class="album-image" src="/assets/img/albums/solo-foot.jpg" alt="Footprints on the White Ground (2014) (EP)"/>
        <div class="album-description-mobile">
          <h4 class="hidden-lg hidden-md visible-xs-block">Footprints on the White Ground (2014) (EP)</h4>
          <a class="button-solid-black" href="https://phil-wc.bandcamp.com/album/footprints-on-the-white-ground">FREE DOWNLOAD</a>
        </div>

        <div class="album-description hidden-xs">
          <h4>Footprints on the White Ground (2014) (EP)</h4>
          <a class="button-solid-black" href="https://phil-wc.bandcamp.com/album/footprints-on-the-white-ground">FREE DOWNLOAD</a>
        </div>
        <div class="clearfix"></div>

      </div>

      <div class="album-item">
        <img class="album-image" src="/assets/img/albums/solo-ss2.jpg" alt="Science Series II: Space Explorer (2013)"/>
        <div class="album-description-mobile">
          <h4 class="hidden-lg hidden-md visible-xs-block">Science Series II: Space Explorer (2013)</h4>
          <a class="button-solid-black" href="https://phil-wc.bandcamp.com/album/science-series-ii-space-explorer">BUY</a>
        </div>

        <div class="album-description hidden-xs">
          <h4>Science Series II: Space Explorer (2013)</h4>
          <a class="button-solid-black" href="https://phil-wc.bandcamp.com/album/science-series-ii-space-explorer">BUY</a>
        </div>
        <div class="clearfix"></div>

      </div>

      <div class="album-item">
        <img class="album-image" src="/assets/img/albums/solo-ss1.jpg" alt="Science Series I: Quasar (2010)"/>
        <div class="album-description-mobile">
          <h4 class="hidden-lg hidden-md visible-xs-block">Science Series I: Quasar (2010)</h4>
          <a class="button-solid-black" href="https://phil-wc.bandcamp.com/album/science-series-i-quasar">FREE DOWNLOAD</a>
        </div>

        <div class="album-description hidden-xs">
          <h4>Science Series I: Quasar (2010)</h4>
          <a class="button-solid-black" href="https://phil-wc.bandcamp.com/album/science-series-i-quasar">FREE DOWNLOAD</a>
        </div>
        <div class="clearfix"></div>

      </div>

      <div class="album-item">
        <img class="album-image" src="/assets/img/albums/solo-ante.jpg" alt="Ante Meridiem (2009)"/>
        <div class="album-description-mobile">
          <h4 class="hidden-lg hidden-md visible-xs-block">Ante Meridiem (2009)</h4>
          <a class="button-solid-black" href="https://phil-wc.bandcamp.com/album/ante-meridiem">FREE DOWNLOAD</a>
        </div>

        <div class="album-description hidden-xs">
          <h4>Ante Meridiem (2009)</h4>
          <a class="button-solid-black" href="https://phil-wc.bandcamp.com/album/ante-meridiem">FREE DOWNLOAD</a>
        </div>
        <div class="clearfix"></div>

      </div>
    </div>


    <hr>


    <div class="team-albums">
      <h2 class="album-section-title">Compilation Albums</h2>

      <div class="album-item">
        <h4>dB Team - Projekt No. Three (2011)</h4>

        <a href="http://phil-wcalbum.tumblr.com/post/10685816441/db-team-projekt-no-three" target="_blank">
          <img class="album-image" src="https://33.media.tumblr.com/tumblr_m3ih5us2mI1qb947z.png" />
        </a>
        <a href="http://www.mediafire.com/download.php?7mi5jgrl7nwzm85" target="_blank">Download
        </a>
        <a href="http://soundcloud.com/phil_wc/unknow-stranger" target="_blank">
          <img height="170" src="http://i.minus.com/ibiRxp9ftMD0JO.png" width="119" />
        </a>
      </div>

      <div class="album-item">
        <h4>phil_wc &amp; Friends - The Winter (2011)</h4>

        <a href="http://phil-wcalbum.tumblr.com/post/10685752363/phil-wc-friends-the-winter" target="_blank">
          <img class="album-image" src="https://33.media.tumblr.com/tumblr_m3ih6iQqRv1qb947z.png" />
        </a>
        <a href="http://www.mediafire.com/?qmgwa6lcc7642su" target="_blank">Download
        </a>
        <a href="http://youtu.be/YV0otsviKV8" target="_blank">
          <img height="170" src="http://i.minus.com/ibiRxp9ftMD0JO.png" width="119" />
        </a>
      </div>

      <div class="album-item">
        <h4>dB Team - Free Your Tune (2010)</h4>

        <a href="http://phil-wcalbum.tumblr.com/post/10685715219/db-team-free-your-tune" target="_blank">
          <img class="album-image" src="https://33.media.tumblr.com/tumblr_m3ih6w143M1qb947z.png" />
        </a>
        <a href="http://thai.soon.it/dB/freeyourtune/" target="_blank">Download
        </a>
        <a href="http://soundcloud.com/surafux/surafux-gaia-theory-2011" target="_blank">
          <img height="170" src="http://i.minus.com/ibiRxp9ftMD0JO.png" width="119" />
        </a>
      </div>

      <div class="album-item">
        <h4>dB Team - Develop (2010)</h4>

        <a href="http://phil-wcalbum.tumblr.com/post/10685607725/db-team-develop" target="_blank">
          <img class="album-image" src="https://38.media.tumblr.com/tumblr_m3ih7beGXE1qb947z.png" />
        </a>
        <a href="http://www.mediafire.com/?3ihlm4zn0cy" target="_blank">Download
        </a>
        <a href="http://www.youtube.com/watch?v=CXKRiVFNbaw" target="_blank">
          <img height="170" src="http://i.minus.com/ibiRxp9ftMD0JO.png" width="119" />
        </a>
      </div>
    </div>


    <hr>


    <div class="album-notice">
      <p>For the paid album it&rsquo;s all rights reserved <br>
      <h4>You can donate before download my albums here: </h4><a href="http://phil-wc.bandcamp.com/">phil-wc.bandcamp.com</a><br>
      Please support me if you like it!</p>
    </div>

  </div>
</div>