<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="solo-albums">
      <h2 class="album-section-title">Original Soundtrack Albums</h2>

      <div class="album-item">

        <div class="album-description-mobile center-block text-center">
          <img class="album-image-mobile hidden-lg hidden-md hidden-sm" src="/assets/img/albums/film-driver.jpg" alt="Driver (2017)"/>
          <h4 class="hidden-lg hidden-md hidden-sm visible-xs-block">Driver (2017)</h4>
          <a class="hidden-lg hidden-md hidden-sm button-solid-black" href="https://www.fungjai.com/artists/chapavich-temnitikul/albums/driver-original-motion-picture-soundtrack">FREE STREAMING</a>
        </div>

        <img class="album-image hidden-xs" src="/assets/img/albums/film-driver.jpg" alt="Prelude To The General (2017)"/>

        <div class="album-description hidden-xs">
          <h4>Driver (2017)</h4>
          <a class="button-solid-black" href="https://www.fungjai.com/artists/chapavich-temnitikul/albums/driver-original-motion-picture-soundtrack">FREE STREAMING</a>
        </div>
        <div class="clearfix"></div>

      </div>

      <div class="album-item">

        <div class="album-description-mobile center-block text-center">
          <img class="album-image-mobile hidden-lg hidden-md hidden-sm" src="/assets/img/albums/film-ptg.jpg" alt="Prelude To The General (2017)"/>
          <h4 class="hidden-lg hidden-md hidden-sm visible-xs-block">Prelude To The General (2017)</h4>
          <a class="hidden-lg hidden-md hidden-sm button-solid-black" href="https://www.fungjai.com/artists/chapavich-temnitikul/albums/prelude-to-the-general">FREE STREAMING</a>
        </div>

        <img class="album-image hidden-xs" src="/assets/img/albums/film-ptg.jpg" alt="Prelude To The General (2017)"/>

        <div class="album-description hidden-xs">
          <h4>Prelude To The General (2017)</h4>
          <a class="button-solid-black" href="https://www.fungjai.com/artists/chapavich-temnitikul/albums/prelude-to-the-general">FREE STREAMING</a>
        </div>
        <div class="clearfix"></div>

      </div>

      <div class="album-item">

        <div class="album-description-mobile center-block text-center">
          <img class="album-image-mobile hidden-lg hidden-md hidden-sm" src="/assets/img/albums/film-ags.jpg" alt="A Gas Station (2016)"/>
          <h4 class="hidden-lg hidden-md hidden-sm visible-xs-block">A Gas Station (2016)</h4>
          <a class="hidden-lg hidden-md hidden-sm button-solid-black" href="https://www.fungjai.com/artists/chapavich-temnitikul/albums/a-gas-station-original-motion-picture-soundtrack">FREE STREAMING</a>
        </div>

        <img class="album-image hidden-xs" src="/assets/img/albums/film-ags.jpg" alt="A Gas Station (2016)"/>

        <div class="album-description hidden-xs">
          <h4>A Gas Station (2016)</h4>
          <a class="button-solid-black" href="https://www.fungjai.com/artists/chapavich-temnitikul/albums/a-gas-station-original-motion-picture-soundtrack">FREE STREAMING</a>
        </div>
        <div class="clearfix"></div>

      </div>


      <div class="album-item">

        <div class="album-description-mobile center-block text-center">
          <img class="album-image-mobile hidden-lg hidden-md hidden-sm" src="/assets/img/albums/film-tbh.jpg" alt="The Blue Hour อนธการ (2016)"/>
          <h4 class="hidden-lg hidden-md hidden-sm visible-xs-block">The Blue Hour อนธการ (2016)</h4>
          <a class="hidden-lg hidden-md hidden-sm button-solid-black" href="http://phil-wcalbum.tumblr.com/post/146996891687/the-blue-hour-%E0%B8%AD%E0%B8%99%E0%B8%98%E0%B8%81%E0%B8%B2%E0%B8%A3-original-motion-picture">BUY</a>
        </div>

        <img class="album-image hidden-xs" src="/assets/img/albums/film-tbh.jpg" alt="The Blue Hour อนธการ (2016)"/>

        <div class="album-description hidden-xs">
          <h4>The Blue Hour อนธการ (2016)</h4>
          <a class="button-solid-black" href="http://phil-wcalbum.tumblr.com/post/146996891687/the-blue-hour-%E0%B8%AD%E0%B8%99%E0%B8%98%E0%B8%81%E0%B8%B2%E0%B8%A3-original-motion-picture">BUY</a>
        </div>
        <div class="clearfix"></div>

      </div>

      <div class="album-item">

        <div class="album-description-mobile center-block text-center">
          <img class="album-image-mobile hidden-lg hidden-md hidden-sm" src="/assets/img/albums/film-ff.jpg" alt="Free Falling ฝนสุดท้าย (2015)"/>
          <h4 class="hidden-lg hidden-md hidden-sm visible-xs-block">Free Falling ฝนสุดท้าย (2015)</h4>
          <a class="hidden-lg hidden-md hidden-sm button-solid-black" href="https://www.fungjai.com/artist/ChapavichTemnitikul">FREE STREAMING</a>
        </div>

        <img class="album-image hidden-xs" src="/assets/img/albums/film-ff.jpg" alt="Free Falling ฝนสุดท้าย (2015)"/>

        <div class="album-description hidden-xs">
          <h4>Free Falling ฝนสุดท้าย (2015)</h4>
          <a class="button-solid-black" href="https://www.fungjai.com/artist/ChapavichTemnitikul">FREE STREAMING</a>
        </div>
        <div class="clearfix"></div>

      </div>

    </div>

    <hr>

    <div class="creative-commons">
      <div class="license-details">
        <p class="text-justify">For the free album you can do under this creative commons license: <br/>
          <img src="/assets/img/albums/cc.png" alt="Creative Commons"> <br/>
          You can copy, distribute, advertise and play this album as long as you:
          <ul>
            <li>Give credit to the artist</li>
            <li>Don’t use this album for commercial purposes</li>
            <li>Distribute all derivative works under the same license</li>
          </ul>
        </p>
        <p>For the paid album it&rsquo;s all rights reserved <br/></p>
      </div>
    </div>


    <hr>


    <div class="solo-albums">
      <h2 class="album-section-title">Solo Albums</h2>

      <div class="album-item">

        <div class="album-description-mobile center-block text-center">
          <img class="album-image-mobile hidden-lg hidden-md hidden-sm" src="/assets/img/albums/solo-mim.jpg" alt="Memories in Memory (2017)"/>
          <h4 class="hidden-lg hidden-md hidden-sm visible-xs-block">Memories in Memory (2017)</h4>
          <a class="hidden-lg hidden-md hidden-sm button-solid-black" href="http://www.phil-wc.com/memories-in-memory/#credits">BUY</a>
        </div>

        <img class="album-image hidden-xs" src="/assets/img/albums/solo-mim.jpg" alt="Memories in Memory (2017)"/>

        <div class="album-description hidden-xs">
          <h4>Memories in Memory (2017)</h4>
          <a class="button-solid-black" href="http://www.phil-wc.com/memories-in-memory/#credits">BUY</a>
        </div>
        <div class="clearfix"></div>

      </div>

      <div class="album-item">

        <div class="album-description-mobile center-block text-center">
          <img class="album-image-mobile hidden-lg hidden-md hidden-sm" src="/assets/img/albums/solo-ss3.jpg" alt="Science Series II: Space Explorer (2013)"/>
          <h4 class="hidden-lg hidden-md hidden-sm visible-xs-block">Science Series III : Landscape (2015)</h4>
          <a class="hidden-lg hidden-md hidden-sm button-solid-black" href="https://phil-wc.bandcamp.com/album/science-series-iii-landscape">BUY</a>
        </div>

        <img class="album-image hidden-xs" src="/assets/img/albums/solo-ss3.jpg" alt="Science Series II: Space Explorer (2013)"/>

        <div class="album-description hidden-xs">
          <h4>Science Series III : Landscape (2015)</h4>
          <a class="button-solid-black" href="https://phil-wc.bandcamp.com/album/science-series-iii-landscape">BUY</a>
        </div>
        <div class="clearfix"></div>

      </div>

      <div class="album-item">

        <div class="album-description-mobile center-block text-center">
          <img class="album-image-mobile hidden-lg hidden-md hidden-sm" src="/assets/img/albums/solo-foot.jpg" alt="Footprints on the White Ground (2014) (EP)"/>
          <h4 class="hidden-lg hidden-md hidden-sm visible-xs-block">Footprints on the White Ground (2014) (EP)</h4>
          <a class="hidden-lg hidden-md hidden-sm button-solid-black" href="https://phil-wc.bandcamp.com/album/footprints-on-the-white-ground">FREE DOWNLOAD</a>
        </div>

        <img class="album-image hidden-xs" src="/assets/img/albums/solo-foot.jpg" alt="Footprints on the White Ground (2014) (EP)"/>

        <div class="album-description hidden-xs">
          <h4>Footprints on the White Ground (2014) (EP)</h4>
          <a class="button-solid-black" href="https://phil-wc.bandcamp.com/album/footprints-on-the-white-ground">FREE DOWNLOAD</a>
        </div>
        <div class="clearfix"></div>

      </div>

      <div class="album-item">
        <div class="album-description-mobile center-block text-center">
          <img class="album-image-mobile hidden-lg hidden-md hidden-sm" src="/assets/img/albums/solo-ss2.jpg" alt="Science Series II : Space Explorer (2013)"/>
          <h4 class="hidden-lg hidden-md hidden-sm visible-xs-block">Science Series II : Space Explorer (2013)</h4>
          <a class="hidden-lg hidden-md hidden-sm button-solid-black" href="https://phil-wc.bandcamp.com/album/science-series-ii-space-explorer">BUY</a>
        </div>

        <img class="album-image hidden-xs" src="/assets/img/albums/solo-ss2.jpg" alt="Science Series II : Space Explorer (2013)"/>

        <div class="album-description hidden-xs">
          <h4>Science Series II : Space Explorer (2013)</h4>
          <a class="button-solid-black" href="https://phil-wc.bandcamp.com/album/science-series-ii-space-explorer">BUY</a>
        </div>
        <div class="clearfix"></div>

      </div>

      <div class="album-item">
        <div class="album-description-mobile center-block text-center">
          <img class="album-image-mobile hidden-lg hidden-md hidden-sm" src="/assets/img/albums/solo-ss1.jpg" alt="Science Series I : Quasar (2010)"/>
          <h4 class="hidden-lg hidden-md hidden-sm visible-xs-block">Science Series I : Quasar (2010)</h4>
          <a class="hidden-lg hidden-md hidden-sm button-solid-black" href="https://phil-wc.bandcamp.com/album/science-series-i-quasar">FREE DOWNLOAD</a>
        </div>

        <img class="album-image hidden-xs" src="/assets/img/albums/solo-ss1.jpg" alt="Science Series I : Quasar (2010)"/>

        <div class="album-description hidden-xs">
          <h4>Science Series I : Quasar (2010)</h4>
          <a class="button-solid-black" href="https://phil-wc.bandcamp.com/album/science-series-i-quasar">FREE DOWNLOAD</a>
        </div>
        <div class="clearfix"></div>

      </div>

      <div class="album-item">
        <div class="album-description-mobile center-block text-center">
          <img class="album-image-mobile hidden-lg hidden-md hidden-sm" src="/assets/img/albums/solo-ante.jpg" alt="Ante Meridiem (2009)"/>
          <h4 class="hidden-lg hidden-md hidden-sm visible-xs-block">Ante Meridiem (2009)</h4>
          <a class="hidden-lg hidden-md hidden-sm button-solid-black" href="https://phil-wc.bandcamp.com/album/ante-meridiem">FREE DOWNLOAD</a>
        </div>

        <img class="album-image hidden-xs" src="/assets/img/albums/solo-ante.jpg" alt="Ante Meridiem (2009)"/>

        <div class="album-description hidden-xs">
          <h4>Ante Meridiem (2009)</h4>
          <a class="button-solid-black" href="https://phil-wc.bandcamp.com/album/ante-meridiem">FREE DOWNLOAD</a>
        </div>
        <div class="clearfix"></div>

      </div>
    </div>


    <hr>


    <div class="team-albums">
      <h2 class="album-section-title">Compilation Albums</h2>

      <div class="album-item">
        <div class="album-description-mobile center-block text-center">
          <img class="album-image-mobile hidden-lg hidden-md hidden-sm" src="/assets/img/albums/com-winter.jpg" alt="phil_wc &amp; Friends - The Winter (2011)"/>
          <h4 class="hidden-lg hidden-md hidden-sm visible-xs-block">phil_wc &amp; Friends - The Winter (2011)</h4>
          <a class="hidden-lg hidden-md hidden-sm button-solid-black" href="http://www.mediafire.com/?qmgwa6lcc7642su">FREE DOWNLOAD</a>
        </div>

        <img class="album-image hidden-xs" src="/assets/img/albums/com-winter.jpg" alt="phil_wc &amp; Friends - The Winter (2011)"/>

        <div class="album-description hidden-xs">
          <h4>phil_wc &amp; Friends - The Winter (2011)</h4>
          <a class="button-solid-black" href="http://www.mediafire.com/?qmgwa6lcc7642su">FREE DOWNLOAD</a>
        </div>
        <div class="clearfix"></div>

      </div>

      <div class="album-item">
        <div class="album-description-mobile center-block text-center">
          <img class="album-image-mobile hidden-lg hidden-md hidden-sm" src="/assets/img/albums/com-proj3.jpg" alt="dB Team - Projekt No. Three (2011)"/>
          <h4 class="hidden-lg hidden-md hidden-sm visible-xs-block">dB Team - Projekt No. Three (2011)</h4>
          <a class="hidden-lg hidden-md hidden-sm button-solid-black" href="http://www.mediafire.com/download.php?7mi5jgrl7nwzm85">FREE DOWNLOAD</a>
        </div>

        <img class="album-image hidden-xs" src="/assets/img/albums/com-proj3.jpg" alt="dB Team - Projekt No. Three (2011)"/>

        <div class="album-description hidden-xs">
          <h4>dB Team - Projekt No. Three (2011)</h4>
          <a class="button-solid-black" href="http://www.mediafire.com/download.php?7mi5jgrl7nwzm85">FREE DOWNLOAD</a>
        </div>
        <div class="clearfix"></div>

      </div>

      <div class="album-item">
        <div class="album-description-mobile center-block text-center">
          <img class="album-image-mobile hidden-lg hidden-md hidden-sm" src="/assets/img/albums/com-free.png" alt="dB Team - Free Your Tune (2010)"/>
          <h4 class="hidden-lg hidden-md hidden-sm visible-xs-block">dB Team - Free Your Tune (2010)</h4>
          <a class="hidden-lg hidden-md hidden-sm button-solid-black" href="http://www.mediafire.com/download/7djze65y1b69zbu/">FREE DOWNLOAD</a>
        </div>

        <img class="album-image hidden-xs" src="/assets/img/albums/com-free.png" alt="dB Team - Free Your Tune (2010)"/>

        <div class="album-description hidden-xs">
          <h4>dB Team - Free Your Tune (2010)</h4>
          <a class="button-solid-black" href="http://www.mediafire.com/download/7djze65y1b69zbu/">FREE DOWNLOAD</a>
        </div>
        <div class="clearfix"></div>

      </div>

    </div>


    <hr>


    <h4 class="donation-title">You can donate before download my albums here: </h4>
    <div class="donation-description">
      <a href="http://phil-wc.bandcamp.com/">phil-wc.bandcamp.com</a><br/>
      <p>Please support me if you like it!</p>
    </div>

  </div>
</div>