<div class="container-fluid">
  {% comment %}
    start "malila" container
  {% endcomment %}
  {% assign malila = site.data.malila %}
  <div class="row hidden-sm hidden-xs">
    <div class="col-lg-6 col-md-6">
      <div class="description text-center">
        <div class="content center-block">
          <img class="center-block img-responsive"
            src="/assets/img/home/{{ malila.title.image }}"
            alt="{{ malila.title.album_name }}" />
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6">
      <div class="description">
        <div class="content">
          <h1 class="normal-font-weight">{{ malila.promo-text.title }}</h1>
          <h2 class="light-font-weight no-padding">{{ malila.promo-text.sub-title }}</h2>
          <br>
          <h3 class="light-font-weight no-padding">{{ malila.promo-text.artist }}</h3>
          <br>
          <a class="btn btn-default" href="{{ site.baseurl }}/2018/03/02/Malila/">{{ malila.promo-text.button }}</a>
        </div>
      </div>
    </div>

  </div>

  <div class="row hidden-lg hidden-md">
    <div class="col-sm-12 col-xs-12">
      <div class="description text-center">
        <div class="heading-color">
          <img class="center-block img-responsive"
            src="/assets/img/home/{{ malila.title.image }}"
            alt="{{ malila.title.album_name }}" />
          <h1 class="normal-font-weight">{{ malila.promo-text.title }}</h1>
          <h2 class="light-font-weight">{{ malila.promo-text.sub-title }}</h2>
          <br>
          <h3 class="light-font-weight">{{ malila.promo-text.artist }}</h3>
          <br>
          <a class="btn btn-default" href="{{ site.baseurl }}/2018/03/02/Malila/">{{ malila.promo-text.button }}</a>
        </div>
      </div>
    </div>
  </div>
  {% comment %}
    end "malila" container
  {% endcomment %}
</div>

<div class="clearfix"></div>
