<div class="container">
  <div class="row hidden-lg hidden-md text-center">
    <div class="col-lg-10 col-md-10 col-sm-6 col-xs-12">
      <h4 class="description">Free albums for free fownload for non-commercial</h4>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
      <a class="button-solid" href="{{ site.baseurl }}/albums">&thinsp;-&thinsp;FREE MUSIC&thinsp;-&thinsp;</a>
    </div>
  </div>
  <div class="row hidden-sm hidden-xs">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h4 class="description pull-left">Free albums for free fownload for non-commercial</h4>
      <a class="button-solid pull-right" href="{{ site.baseurl }}/albums">&thinsp;-&thinsp;FREE MUSIC&thinsp;-&thinsp;</a>
    </div>
  </div>
</div>