<div class="container">
  <div class="section-title">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
        <h1 class="normal-font-weight">NEWS</h1>
        <hr class="small" style="margin-left:0">
      </div>
    </div>
  </div>
<div class="recent-news-list">
</div>

<!-- Hidden template for rss parser -->
  <div class="news-item-template" style="display:none;">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
        <div class="post-item">
          <h6 class="normal-font-weight"><a class="post-title" href="__URLPATH__">__TITLE__</a></h6>
          <p class="post-meta">
            <span class="light-font-weight date">on __PUBLISHED__</span>
          </p>
        </div>
      </div>
    </div>
  </div>


    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
      <!-- more posts -->
      <div class="older-post">
        <a class="btn btn-default" href="{{ site.baseurl }}/news">OLDER POSTS →</a>
      </div>
    </div>
  </div>
</div>
