<div class="container">
  <div class="section-title text-center">
    <h1>NEWS</h1>
    <hr class="small">
  </div>
<div class="recent-news-list">
<!-- PUT SHIT HERE -->
</div>

<!-- Hidden template for rss parser -->
  <div class="news-item-template" style="display:none;">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
        <div class="post-item">
          <h6><a class="post-title" href="__URLPATH__">__TITLE__</a></h6>
          <p class="post-meta">
            <span class="date">on __PUBLISHED__</span>
            <span class="author"> • __AUTHOR__</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- more posts -->
  <div class="older-post text-center">
    <a class="button-solid" href="{{ site.baseurl }}/news">OLDER POSTS</a>
  </div>
</div>
