<div class="container">
  <div class="section-title text-center">
    <h1>BLOG POSTS</h1>
  </div>

  {% for post in paginator.posts limit:3 %}
    <div class=" row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
        <div class="post-item">
          <h4><a class="post-title" href="{{ post.url }}">{{ post.title }}</a></h4>
          <p class="post-meta">
            <span class="date">on {{ post.date | date: "%B %-d, %Y" }}</span>
            <span class="author"> • {% if post.author %}{{ post.author }}{% else %}{{ site.author.name }}{% endif %}</span>
          </p>
        </div>
      </div>
    </div>
  {% endfor %}

<!-- more posts -->
  <div class="button-center-container text-center">
    <h3><a class="button-solid-gray-dark" href="{{ site.baseurl }}/blog">MORE POSTS</a></h3>
  </div>
</div>