<div class="container-fluid">
  <div class="row">
    <div class="content col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <!-- About Me -->
      <img src="/assets/img/home/menu-about-bg.jpg" alt="menu-about-bg"/>
      <div class="button-center-container">
        <h3><a class="button-solid" href="{{ site.baseurl }}/music">ABOUT</a></h3>
      </div>
    </div>
    <div class="content col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <!-- Credits -->
      <img src="/assets/img/home/menu-credit-bg.jpg" alt="menu-credit-bg"/>
      <div class="button-center-container">
        <h3><a class="button-solid" href="{{ site.baseurl }}/music">CREDIT</a></h3
      ></div>
    </div>
    <div class="content col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <!-- Services -->
      <img src="/assets/img/home/menu-service-bg.jpg" alt="menu-service-bg"/>
      <div class="button-center-container">
        <h3><a class="button-solid" href="{{ site.baseurl }}/music">SERVICE</a></h3>
      </div>
    </div>
  </div>
</div>