

  <!-- tablet, desktop -->
<!--   <div class="row hidden-sm hidden-xs">
    <div class="col-lg-6 col-md-6">
      <div class="description center-element">
        <h2>LISTEN</h2>
        <p>Enjoy my music in various styles</p>
      </div>
    </div>

    <div class="col-lg-6 col-md-6">
      <div class="player">
        <div class="player-container"></div>
      </div>
    </div>
  </div> -->

  <!-- mobile view -->
<!--   <div class="row hidden-lg hidden-md">
    <div class="description text-center">
      <h2>LISTEN</h2>
      <p>Enjoy my music in various styles</p>
    </div>
    <div class="player">
      <div class="player-container"></div>
    </div>
  </div> -->


  <div class="description">
    <h2>LISTEN</h2>
    <p>Enjoy my music in various styles</p>
  </div><div class="player-container"></div>




<!-- or not using bootstrap at all?? -->

<!-- tablet, desktop -->
  <!--
    half both
    height at least 700
    use bootstrap to hide on sm, xs
   -->

<!-- mobile view -->
  <!--
    one row
    label on top
    use bootstrap to hide on lg, md
   -->