<div class="container-fluid">
  <div class="row hidden-sm hidden-xs">

    <div class="col-lg-6 col-md-6">
      <div class="description">
        <div class="content center-block">
          <h1>LISTEN: </h1>
          <p>Enjoy my music in various styles →</p>
          <br>
          <h3>Composer Interview:</h3>
          <p>The music of "The Blue Hour". (English subtitles included)</p>
          <a role="button" class="" data-toggle="modal" data-target=".bs-example-modal-lg"><img class="img-responsive" src="/assets/img/home/tbhbehind.jpg"></a>
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <iframe width="853" height="480" src="https://www.youtube.com/embed/m00xo3TXmjw" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="col-lg-5 col-md-6">
      <!-- <div id="js-player-container-default"></div> -->
      <iframe width="100%" height="550" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/12291411&amp;color=85bacc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    </div>

  </div>

  <div class="row hidden-lg hidden-md">
    <div class="col-sm-12 col-xs-12">
      <div class="description text-center">
        <h1>LISTEN: </h1>
        <p>Enjoy my music in various styles</p>
      </div>
      <!-- <div id="js-player-container-mobile"></div> -->
      <iframe width="100%" height="400" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/12291411&amp;color=85bacc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
      <hr class="small">
      <div class="description text-center">
        <h3>Composer Interview:</h3>
        <p>The music of "The Blue Hour". (English subtitles included)</p>
        <a href="https://youtu.be/m00xo3TXmjw">
        <img class="img-responsive center-block" src="/assets/img/home/tbhbehind.jpg"></a>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>