<div class="container">
  <div class="row">
    <div class="testimonial-text col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
      <!-- testimonial: text -->
      <div id="js-slider">
        <ul>
          <li>
            <div class="testimonial-item text-center">
              <h3>“The eerie piano and music accompaniment, combined with the bluish tinge screen that pervades throughout the movie, plus Gun Atthaphan’s androgynous beauty make The Blue Hour an exciting and thrilling movie to watch.”</h3><h4>Jed Medina, Film Critic</h4>
            </div>
          </li>
          <li>
            <div class="testimonial-item text-center">
              <h3>"Phil has considerable sense for linking sound and picture together. When these are combined with his computer music skill, it pushes him to produce a very nice multimedia piece."</h3>
              <h4> Boonrut Sirirattanapan, Award winning composer</h4>
            </div>
          </li>
          <li>
            <div class="testimonial-item text-center">
              <h3>"His own music albums have a structure that makes me feels throughout. He puts his feeling into music that makes songs feel bright, happy, and lonely at the same time."</h3>
              <h4> Chonlasit Upanigkit, Award winning editor</h4>
            </div>
          </li>
          <li>
            <div class="testimonial-item text-center">
              <h3>"Sequence was shot in black and white and scored with a harshly droning kind of minimalist music mixed with a chorus chanting by Thai composer Phil_wc, it sounded to me like some of the György Ligeti music Kubrick used in 2001."</h3>
              <h4> Sean Gilman, Film Critic</h4>
            </div>
          </li>
          <li>
            <div class="testimonial-item text-center">
              <h3>"Phil knows how to make noises, beautiful like a dimmed nightfall, and they are all fit into my film which was shown in many European film festival."</h3>
              <h4> Vorakorn Ruetaivanichkul, Director</h4>
            </div>
          </li>
          <li>
            <div class="testimonial-item text-center">
              <h3>"Chapavich Temnitikul’s score is much better at ratcheting up the tension ."</h3>
              <h4> Boyd van Hoeij, The Hollywood Reporter</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
