<div class="container-fluid">
  <div class="row">
    <div class="filmfest col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <img class="img-responsive" src="/assets/img/home/testimonial-filmfest.jpg" alt="filmfest">
    </div>
    <div class="testimonial-text col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <!-- testimonial: text -->
      <div id="js-slider">
        <ul>
          <li>
            <div class="text-center">
              <h4>"Phil has considerable sense for linking sound and picture together. When these are combined with his computer music skill, it pushes him to produce a very nice multimedia piece."</h4>
              <h6> Boonrut Sirirattanapan, Award winning composer</h6>
            </div>
          </li>
          <li>
            <div class="text-center">
              <h4>"His own music albums have a structure that makes me feels throughout. He puts his feeling into music that makes songs feel bright, happy, and lonely at the same time."</h4>
              <h6> Chonlasit Upanigkit, Award winning editor</h6>
            </div>
          </li>
          <li>
            <div class="text-center">
              <h4>"Sequence was shot in black and white and scored with a harshly droning kind of minimalist music mixed with a chorus chanting by Thai composer Phil_wc, it sounded to me like some of the György Ligeti music Kubrick used in 2001."</h4>
              <h6> Sean Gilman, Film critic</h6>
            </div>
          </li>
          <li>
            <div class="text-center">
              <h4>"Phil knows how to make noises, beautiful like a dimmed nightfall, and they are all fit into my film which was shown in many European film festival."</h4>
              <h6> Vorakorn Ruetaivanichkul, Director</h6>
            </div>
          </li>
          <li>
            <div class="text-center">
              <h4>"Chapavich Temnitikul’s score is much better at ratcheting up the tension ."</h4>
              <h6> Boyd van Hoeij, The Hollywood Reporter</h6>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>