<div class="container-fluid">
  <div class="row hidden-sm hidden-xs">
    <div class="col-lg-6 col-md-6">
      <div class="description text-center">
        <div class="content center-block">
          <img class="" src="/assets/img/home/tbhalbum.jpg" alt="The Blue Hour"/>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6">
      <!-- <div id="js-player-container-default"></div> -->
      <div class="description">
        <div class="content">
          <h1>The Blue Hour อนธการ</h1>
          <h3>(Original Motion Picture Soundtrack)</h3><br>
          <h4>Music by Chapavich Temnitikul</h4>
          <p class="text-white">Best Original Score awarded by Starpics Thai Film Awards 13th and Bangkok Critics Assembly 26th</p>
          <p class="text-white">Available now</p>
          <!-- <a class="button-solid" href="{{ site.baseurl }}/news">BUY</a>&nbsp;&nbsp;
          <a class="button-solid" href="https://play.spotify.com/album/4X7eZp92R3KSpi4fejyPUS">LISTEN&nbsp;<i class="fa fa-spotify"></i></a> -->
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              BUY&nbsp;&nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="https://itun.es/th/c2C0ab">iTunes</a></li>
              <li><a href="https://market.android.com/details?id=album-Blchs2gaeefzaqf2ek7qwfk7ypa">Google Play</a></li>
              <li><a href="https://amzn.com/B01C4YTSG6">Amazon MP3</a></li>
              <li><a href="http://ldr.fm/zNxvR">Loudr</a></li>
            </ul>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              LISTEN&nbsp;&nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="https://play.spotify.com/album/4X7eZp92R3KSpi4fejyPUS">Spotify</a></li>
              <li><a href="http://www.deezer.com/album/12475868">Deezer</a></li>
              <li><a href="https://www.fungjai.com/artist/ChapavichTemnitikul">Fungjai</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row hidden-lg hidden-md">
    <div class="col-sm-12 col-xs-12">
      <div class="description text-center">
        <div class="heading-color">
          <img class="center-block img-responsive" src="/assets/img/home/tbhalbum.jpg" alt="The Blue Hour"/>
          <h1>The Blue Hour อนธการ</h1>
          <h3>(Original Motion Picture Soundtrack)</h3><br>
          <h4>Music by Chapavich Temnitikul</h4>
          <br>
          <p class="text-white">Available now</p>
          <!-- <a class="button-solid" href="{{ site.baseurl }}/news">BUY</a>
          <a class="button-solid" href="https://play.spotify.com/album/4X7eZp92R3KSpi4fejyPUS">LISTEN&nbsp;<i class="fa fa-spotify"></i></a> -->
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              BUY&nbsp;&nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="https://itun.es/th/c2C0ab">iTunes</a></li>
              <li><a href="https://market.android.com/details?id=album-Blchs2gaeefzaqf2ek7qwfk7ypa">Google Play</a></li>
              <li><a href="https://amzn.com/B01C4YTSG6">Amazon MP3</a></li>
              <li><a href="http://ldr.fm/zNxvR">Loudr</a></li>
            </ul>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              LISTEN&nbsp;&nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="https://play.spotify.com/album/4X7eZp92R3KSpi4fejyPUS">Spotify</a></li>
              <li><a href="http://www.deezer.com/album/12475868">Deezer</a></li>
              <li><a href="https://www.fungjai.com/artist/ChapavichTemnitikul">Fungjai</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>