<div class="container-fluid">
  <div class="row hidden-sm hidden-xs">

    <div class="col-lg-6 col-md-6">
      <div class="description text-center">
        <div class="content center-block">
          <img class="" src="/assets/img/home/tbhalbum.jpg" alt="The Blue Hour"/>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6">
      <!-- <div id="js-player-container-default"></div> -->
      <div class="description">
        <div class="content">
          <h1>The Blue Hour อนธการ</h1>
          <h3>(Original Motion Picture Soundtrack)</h3><br>
          <h4>Music by Chapavich Temnitikul</h4>
          <br>
          <p class="text-white">Available now on major online stores:</p>
          <a class="button-solid" href="{{ site.baseurl }}/news">BUY</a>&nbsp;&nbsp;
          <a class="button-solid" href="{{ site.baseurl }}/news">LISTEN&nbsp;<i class="fa fa-spotify"></i></a>
        </div>
      </div>
    </div>

  </div>

  <div class="row hidden-lg hidden-md">
    <div class="col-sm-12 col-xs-12">
      <div class="description text-center">
        <div class="heading-color">
          <h1>LISTEN: </h1>
          <p class="heading-color">Enjoy my music in various styles</p>
        </div>
      </div>
      <!-- <div id="js-player-container-mobile"></div> -->
      <iframe width="100%" height="400" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/12291411&amp;color=85bacc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    </div>
  </div>
</div>

<div class="clearfix"></div>