body
  +serif
  font-size: 20px

a img
  &:hover, &:focus
    cursor: zoom-in

hr.small
  max-width: 100px
  margin: 15px auto
  border-width: 4px
  border-color: white

// -- Highlight Color Customization

::-moz-selection
  color: white
  text-shadow: none
  background: $brand-primary

::selection
  color: white
  text-shadow: none
  background: $brand-primary

img::selection
  color: white
  background: transparent

img::-moz-selection
  color: white
  background: transparent

body
  webkit-tap-highlight-color: $brand-primary
