// =============================
// color
// =============================

$brand-primary: #0085A1
$gray-dark: lighten(black, 25%)
$gray: lighten(black, 50%)
$white-faded: fade(white, 80%)
$gray-light: #eee


// == header & footer ==========

$header-primary-color: #3384a0

$header-home-fixed-height: 650px

$header-padding-top: 180px
$header-padding-bottom: 200px

$header-name-font-size: 2.75rem
$header-label-font-size: 1rem


$footer-primary-color: #5e5e5e





// =============================
// size, dimension
// =============================



// =============================
// fonts
// =============================

$primary-font-size: 14px


// $font-family-primary:
// $font-family-secondary:

// $font-family-serif: